/* styles.css */
html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}
.container {
    padding: 0 0;
    margin-top: 0px;
}
h1 {
    margin-bottom: 20px;
}
.checkbox-container {
    margin-bottom: 10px;
}
.dark-theme {
    background-color: #333;
    color: #ffffff;
}
.dark-theme .form-check-label {
    color: #ffffff;
}
.dark-theme canvas {
    background-color: #323232;
}
.d-flex{
            
    gap:10px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
.dark-theme a{
    color: #ffffff;
    
}
